﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
    
        @using (Html.BeginForm("SheepXml", "SheepShop"))
        {
            <input type="number" name="T"/>
            <button class="btn btn-inverse" title="Get data" type="submit">Get data</button>
        } 


