﻿@model SheepShop.Models.StockModel
@{
    ViewBag.Title = "OutputXml";
}

<h2>OutputXml</h2>

@if (Model.T > 0)
{ 
    <div><b>Output for T = @Model.T:</b></div><br />
    <div>In Stock:</div><br />
    <div>@Model.MilkLiters  liters of milk </div><br />
    <div>@Model.SkinsOfWool skins of wool </div><br />
    <div>Herd:</div><br />
   
        foreach (var sheep in Model.allSheeps) 
        {
        var text = " years old";
        <div>@sheep.Name @sheep.Age @if(sheep.Age != "dead"){  @text }</div>
        }
    
    
}
else
{
<div>At least one day didn't elapsed</div>
}