﻿@model SheepShop.Models.OrderModel
@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>
@using (Html.BeginForm("Order", "Order"))
    {
<div class="form-horizontal">
  
    <div class="form-group">
        @Html.LabelFor(m => m.Customer, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Customer, new { htmlAttributes = new { @class = "form-control" } })
         
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Order.Milk, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Order.Milk, new { htmlAttributes = new { @class = "form-control" } })
          
            </div>
        </div>

    <div class="form-group">
       @Html.LabelFor(m => m.Order.Skins, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Order.Skins, new { htmlAttributes = new { @class = "form-control" } })
          
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Time, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Time, new { htmlAttributes = new { @class = "form-control" } })

        </div>
    </div>
    <button id="btnSubmit" title="Submit" type="submit">Submit</button>
        
 </div>
}
   
   
            
